{% import "_includes/forms" as forms %}
{{ forms.textField({
        label: "JPG quality"|t,
        id: 'jpgQuality',
        name: 'jpgQuality',
        instructions: "JPG quality for cropped images"|t,
        value: settings.jpgQuality,
        errors: settings.getErrors('jpgQuality')
    })
}}
{{ forms.textField({
        label: "Storage folder"|t,
        id: 'storageFolder',
        name: 'storageFolder',
        instructions: "Storage folder for cropped images - path relative to public folder"|t,
        value: settings.storageFolder,
        errors: settings.getErrors('storageFolder')
    })
}}